[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
beautifulsoup4 = "*"
pydantic = "*"
pydantic-settings = "*"
python-json-logger = "*"
fastapi = "*"
uvicorn = "*"
playwright = "*"
playwright-stealth = "*"

[dev-packages]

[requires]
python_version = "3.12"
